<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LLMine - Welcome</title>
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-12 text-center">
        <!-- Logo -->
        <img src="/static/logo_std.png" alt="LLMine Logo" width="20%">
        <br>
        <br>
        <!-- Tagline -->
        <h3>Welcome to LLMine - Your Platform for Text Mining through Configurable LLM Chains</h3>
        <!-- GitHub, Docs, and Admin buttons -->
        <div class="mt-4">
            <a class="github-button" href="https://github.com/LLMine/llmine_core" data-size="large" data-show-count="true" aria-label="Star LLMine/llmine_core on GitHub">Star</a>
        </div>
        <div class="mt-4">
          <a href="https://llmine.org/docs" class="btn btn-secondary" target="_blank">
            View Docs
          </a>
          <a href="/admin" class="btn btn-dark" target="_blank">
            Login to Admin
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (Optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
